@use '/src/common/styles/colors' as *;

.hover {
  background-color: invert($color: $colorBG);
  color: $colorBG;
}

.btn {
  background-color: $colorTextSecondary ;
  border: none;
  text-transform: uppercase ;
  padding: 5px;
  margin: 5px;
}